@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

.center__panel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}

.logo img {
    width: 40px;
    margin: 10px;
}

header {
    width: 100%;
    height: 9vh;
}

.container__main {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.title {
    width: 500px;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.title h1 {
    font-size: 40px;
}

.title p {
    font-size: 20px;
}

.converter__panel {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.tab__box {
    display: flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin: 5px;
}

input {
    width: 100%;
}

.divisa__cantidad {
    margin-top: 4px;
    
}

.tab__box a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding: 4px;
    border-top-left-radius: 8px;
    flex-direction: row;
    cursor: pointer;
    margin-inline: 31px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .formulario__divisa {
    display: flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.divisa__cantidad,
.divisa__origen,
.divisa__destino {
    margin-inline: 10px;
    width: 25%;

}

.divisa__cantidad,
.divisa__origen {
    margin-bottom: 85px;

}

.result_container {
    display: flex;
    width: 500px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 700px;
}
    

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

.button__amount {
    margin-left: 200px;
    margin-top: 50px;
}

@media screen and (max-width: 576px) {

    footer a {
        display: flex;
        width: 100%;
    }

    footer img {
        width: 25px;
        height: 25px;
    }

    footer {
        width: 100%;
        height: 100%;

    }

    footer .text-center {
        height: 100%;
    }

    header {
        width: 80%;
        margin-bottom: 50px;
    }

    .title {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tab__box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .tab__box a {
        margin-block: 10px;
    }

    .container__main {
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 5px;
    }

    .converter__panel {
        display: flex;
        width: 100%;
        height: 10%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 20px;
    }

    input {
        width: 100%;
    }

    .divisa__cantidad,
    .divisa__origen,
    .divisa__destino {
        margin-inline: 5px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }


    .navbar {
        width: 100%;
    }

}